
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    
    <title>Blog - Cadastro</title>
    <link rel="stylesheet" href="css/tela-cadastro.css">

</head>
<body>


    <div id="area-total">

        <div id="titulo">
            
            <h2><em>Cadastro!</em></h2> 
            <br>
            <h3> <em>As melhores noticias na palma da sua mão</em></h3>
            
        </div>

        <form action="/show" method="POST">

            <div id="entrada">
            
                <input type="text" placeholder="Usuario" name="name">
                <br>
                <input type="text" placeholder="E-mail" name="email">
                <br>
                <input type="password" placeholder="Senha" name="senha">
                <br>
                <input type="password" placeholder="Confirmar Senha" name="confirmarSenha">
                <br>
                <button type="submit">Conectar-se</button>
                

            </div>
    </form>
   
</div>

    
</body>
</html>











    

    




    
        
            
            
            

    